@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
}

@layer components {
  .custom-container {
    @apply max-w-[1200px] mx-auto px-6;
  }
  .subheading {
    @apply text-base text-primary font-bold;
  }
  .heading {
    @apply text-4xl md:text-6xl text-primary font-bold;
  }
}

.iphone-case {
  --border-radius-outer: 2rem;
  --outer-padding: 0.5rem;
  --case-color: hsl(0, 0%, 0%);
  --border-radius-inner: calc(
    var(--border-radius-outer) - var(--outer-padding)
  );
  box-shadow: 0px 0px 0px 2px white;
  background-color: var(--case-color);
  border-radius: var(--border-radius-outer);
  padding: var(--outer-padding);
  position: relative;
  margin-inline: auto;
}
.iphone-case:before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 1.3rem;
  background-color: var(--case-color);
  width: 22%;
  border-radius: 25px;
}

/**
* Editor controls
*/
* {
  --editor-input-border-color: rgba(255, 255, 255, 0.15);
  --editor-input-border-hover-color: rgba(255, 255, 255, 0.5);
}

.textarea-input,
.text-input {
  flex: 1;
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--editor-input-border-color);
  background-color: transparent;
}
.text-input {
  border-radius: 0.375rem 0 0 0.375rem;
}
.textarea-input:focus,
.text-input:focus {
  border-color: var(--editor-input-border-hover-color);
  outline: none;
}
.settings-icon {
  flex-shrink: 0;
  border: 1px solid var(--editor-input-border-color);
  border-left: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0.375rem 0.375rem 0;
  background-color: transparent;
}

.settings-icon:hover {
  background-color: var(--editor-input-border-color);
}
